* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box; /* Penting untuk box-sizing */
  outline: none; /* Hilangkan semua outline */
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../public/bg1.jpg");
  background-size: fit;
  background-repeat: no-repeat;
}

/* Navbar container */
.navbar {
  list-style: none;
  display: flex; /* Membuat <li> sejajar secara horizontal */
  justify-content: center; /* Pusatkan item */
  padding: 10px 0;
  width: 100%;
  transition: 3s;
  position: sticky;
  top: 0;
}

/* Style untuk setiap item dalam navbar */
.navbar li {
  margin: 0 15px; /* Jarak antar item */
}

/* Style untuk link */
.navbar a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  display: block;
  transition: background 0.3s;
}

/* Efek hover */
.navbar a:hover {
  background-color: #555;
  border-radius: 5px;
}

.container {
  display: block;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan untuk kedalaman */
  margin: 2rem auto;
  max-width: 820px;
}

.container2 {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.container2 .skill img {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
